 <div class="col-lg-12 text-center">
<h1>Assignments </h1>
  </div>

 <div class="row">
   <div class="col-md-10">
 <!-- #7 -->
        <% if current_user.teacher? %>
     <%= form_for @assignment , url: {action: "create"} do |form| %>
       <div class="media">
         <div class="media-body">
           <h3 class="media-heading">
 <!-- #8 <--> 
            <div>
                <%= form.label :Assignment_name %><br>
                <%= form.text_field :name %>
            </div>
           </h3>
             <div>
                <%= form.label :Assignment_description %><br>
                <%= form.text_field :description %>
            </div>
                <%= form.label :"File" %><br />
                <%= form.file_field :picture %>
            </div>
            
	</p>
       </div>
       
     <% end %>
   </div>
   <br>
<%end%>
   </div>