<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
  <tr>
    <th>Name</th>
    <th>last_name</th>
    <th>email</th>
    <th>Courses</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  
  </tr>
  <% @teacher.each do |x|%>
<tr>
<td><%= x.name %></td>
<td><%= x.last_name %></td>
<td><%= x.email %></td>
 <td> <% x.courses.each do |c| %>
  <%= c.course_name + "," %>
  <%end%>
<td><%= link_to "Show" , teacher_path(x)  %></td>
<td><%= link_to "Edit", edit_teacher_path(x)  %></td>
<td><%= link_to "Delete", teacher_path(x), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>


 
</tr>
<% end %>

</table>

