<h1>Edit Course</h1>
<%= form_for @course do |u| %>
    <div>
        <%= u.label :Course_Name %><br>
        <%= u.text_field :course_name %>
      </div>
  <div>
        <%= u.label :Course_type %><br>
        <%= u.text_field :course_type %>
    </div>
      <div>
        <%= u.label :Credit_Hours %><br>
        <%= u.text_field :credithrs %>
    </div>
       <div>
        <%= u.select :table_user_course_ids, options_for_select(User.where(role: "teacher").collect { | user | [user.first_name,+" "+ user.lname, user.id, user.lname,] }), {}, {} %>

    </div>
     <div>
    <%= u.submit %>
  </div>
<%end%>
