<table>
  <tr>
    <th>Course Name</th>
    <th>Course Type</th>
    <th>Credit</th>
    <th>Teachers</th>
    <th collspan="3">Action</th>
    
  </tr>
  <% @course.each do |x|%>
  <tr>
      <td><%= x.course_name %></td>
      <td><%= x.course_type %></td>
      <td><%= x.credithrs %></td>
      <% user_id = UserCourse.find_by(course_id: x.id).user_id %>
      <% if user_id.present?%>
      <td><%= User.find(user_id).first_name %> <%= User.find(user_id).lname %></td>
      <% end %>
        <td><%= link_to 'Destroy', course_path(x),
            method: :delete,
            data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <td><%= link_to 'Edit', edit_course_path(x), class: 'btn btn-outline-primary'%></td>
        <td><%= link_to 'Show', course_path(x), class: 'btn btn-outline-primary'%></td>
  </tr>
<% end %>

</table>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button a{
  color :black;
  text-decoration: none;
}
button a:hover{
  color :black;
}
</style>


