<h1>New Course</h1>

<%= form_for @course , url: {action: "create"} do |form| %>
    <div>
        <%= form.label :Course_Name %><br>
        <%= form.text_field :course_name %>
    </div>
    <div>
        <%= form.label :course_type %><br>
        <%= form.text_field :course_type %>
    </div>
   <div>
        <%= form.hidden_field :user_id , value: current_user.id %>
    </div>
        <%= form.button :submit %>
    </div>
<% end %>
