<h1>New Course</h1>

<%= form_for @course , url: {action: "create"} do |form| %>
    <div>
        <%= form.label :Course_Name %><br>
        <%= form.text_field :course_name %>
    </div>
    <div>
        <%= form.label :course_type %><br>
        <%= form.text_field :course_type %>
    </div>

    <div>
        <%= form.label :credit_hours %><br>
        <%= form.text_field :credithrs %>
    </div>
     <div>
        <%= form.select :user_id, options_for_select(User.where(role: "teacher").collect { | user | [user.first_name, user.id] }), {}, {} %>
    </div>
     <div>
        <%= form.button :submit %>
    </div>
<% end %>
