<p>Student Name : <%= @attendance.first_name %> <%= @attendance.lname %></p>

<p>Course : <%= @attendance.course_name%></p>

<p>Date : <%= @attendance.date %></p>

<p>Attendance : <%= @attendance.present %></p>