<% if current_user.role == "admin" %>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Admin Dashboard</a>
  <button><%= link_to "View all Students " , students_path%></button>
    <button><%= link_to "View all Teachers " , teachers_path%></button>
    <button> <%= link_to 'Edit Profile', edit_user_registration_path %> </button>
    <%= button_to "Logout" , destroy_user_session_path , method: :delete%>
    <button><%= link_to "View all courses", courses_path%></button>

    <button><%= link_to "Add Account", new_account_path%></button>
</nav>



<%elsif current_user.role == "student"%>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Student Dashboard</a>
    <button> <%= link_to 'Edit Profile', edit_user_registration_path %> </button>
    <%= button_to "Logout" , destroy_user_session_path , method: :delete%>
    <button><%= link_to "Add Course", new_course_path  %></button>
</nav>

<%elsif current_user.role == "teacher"%>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Teacher Dashboard</a>
    <button> <%= link_to 'Edit Profile', edit_user_registration_path %> </button>
    <%= button_to "Logout" , destroy_user_session_path , method: :delete%>
    <button><%= link_to "Add Course", new_course_path  %></button>
</nav>

<%end%>