<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
button a{
  color :black;
  text-decoration: none;
}
button a:hover{
  color :black;
}
</style>

<table>
  <tr>
    <th>Amount</th>
    <th>Account Number</th>
    <th>Teacher Name</th>
    <th collspan="3">Action</th>

  </tr>
  <%- @accounts.each do |x|%>
  <tr>
    <td><%= x.amount %></td>
    <td><%= x.acc_num %></td>
   
     <td><%= user_name = Account.find_by(id: x.user_id) %></td>
     
    <td><%= link_to 'Destroy', account_path(x), class: "btn btn-danger",
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Edit', edit_account_path(x), class: 'btn btn-outline-primary'%></td>
              <td><%= link_to 'Show', account_path(x), class: 'btn btn-outline-primary'%></td>
</tr>
<% end %>

</table>